NODE_ENV=production
PORT=4013

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=tuturno
DB_PASSWORD=CAMBIAR
DB_ADMIN_NAME=tuturno_admin

JWT_SECRET=generar-string-aleatorio-min-32-chars
JWT_REFRESH_SECRET=generar-otro-string-aleatorio-min-32
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

SUPER_JWT_SECRET=generar-super-jwt-min-32-chars
SUPER_JWT_REFRESH_SECRET=generar-super-refresh-min-32
SUPER_JWT_EXPIRES_IN=8h
SUPER_JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_REMEMBER_EXPIRES_IN=30d

RESERVATION_TOKEN_SECRET=generar-reservation-token-secret

# Dominio prod (sin https)
BASE_DOMAIN=tudominio.com
CORS_ORIGINS=https://panel.tudominio.com,https://admin.tudominio.com

API_PUBLIC_URL=https://api.tudominio.com
CLIENT_BASE_HOST=tudominio.com
CLIENT_BASE_SCHEME=https

PUBLIC_RATE_LIMIT=60
DEV_UNLIMITED=false

DB_LEGACY_NAME=turnero
